asgiref
certifi
charset-normalizer
Django
django-allauth
django-allauth-ui
django-widget-tweaks
idna
mysqlclient
psycopg2-binary
python-dotenv
PyYAML
requests
slippers
sqlparse
typeguard
typing_extensions
urllib3
whitenoise