{% extends "base.html" %}

{% block title %}
    FAQ - BU Hacktoberfest
{% endblock %}

{% block content %}
<div class="container mx-auto py-12 px-4">
    <h1 class="text-4xl font-bold text-primary mb-8 text-center">Frequently Asked Questions</h1>
    
    <div class="grid gap-6 md:grid-cols-1 lg:grid-cols-2">
        {% for faq in faqs %}
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
            <h2 class="text-2xl font-bold text-primary mb-4">{{ faq.question }}</h2>
            <p class="text-gray-300 answer" >{{ faq.answer }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<!-- A button to trigger a test error -->
<button id="test-error">Trigger Test Error</button>
<script>
  const button = document.getElementById('test-error');
  button.addEventListener('click', () => {
    throw new Error('This is a test error');
  });
</script>
<script>
    // make every text with https:// clickable
    document.querySelectorAll('.answer').forEach((el) => {
        el.innerHTML = el.innerHTML.replace(/(https:\/\/[^\s]+)/g, '<a href="$1" class="text-primary hover:underline" target="_blank">$1</a>');
    });
</script>
{% endblock %}
