{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-content text-center">
        
        <div class="max-w-md">
            <div class="py-6 px-4 bg-white/30 rounded-xl my-8">
                <img src="{% static 'FOSS_BU_H.png' %}" alt="" class="">
            </div>
            <h1 class="text-5xl font-bold text-primary">Welcome to BU Hacktoberfest</h1>
            <p class="py-6 text-gray-200">
                Participate in our month long open source fest by contributing to repositories and climbing the leaderboard!
            </p>
            <a href="/resources/" class="btn bg-primary text-white hover:bg-[#08b64f]/80 btn-md ">Resources</a>
            <a href="/faq/" class="btn bg-primary text-white hover:bg-[#08b64f]/80 btn-md ">FAQ</a>
            <br/>
            <a href="/accounts/login/" class="btn bg-primary text-white hover:bg-[#08b64f]/80 btn-lg mt-6">Get Started</a>
        </div>
    </div>
</div>

<div class="py-10">
    <h2 class="text-4xl font-bold text-center text-primary py-4">How It Works</h2>
    <div class="flex justify-center">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
            <div class="card w-96 bg-gray-900 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title text-primary">Sign Up</h2>
                    <p>Create an account with your Microsoft ID and link your GitHub account.</p>
                </div>
            </div>
            <div class="card w-96 bg-gray-900 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title text-primary">Contribute</h2>
                    <p>Make pull requests, create issues, and contribute to the repositories.</p>
                    <button>
                        <a href="/repositories/" class="btn bg-primary text-white hover:bg-[#08b64f]/80 btn-md">View Repositories</a>
                    </button>
                </div>
            </div>
            <div class="card w-96 bg-gray-900 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title text-primary">Climb the Leaderboard</h2>
                    <p>Compete with others and reach the top of the leaderboard to win some cool swags!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
