{% extends "base.html" %}

{% block content %}
<div class="min-h-screen flex flex-col items-center">
    <div id="leaderboard-container" class="w-full max-w-6xl bg-neutral-900 p-8 rounded-lg shadow-lg text-white">
        <h1 class="text-3xl font-bold mb-6 text-center">Leaderboard</h1>
        <p class="text-center text-gray-300 mb-6">Leaderboard is updated every hour.</p>
        <div id="loading-state" class="text-center hidden">
            <p>Loading...</p>
        </div>

        <div id="error-state" class="text-center hidden">
            <p class="text-red-500">Error loading leaderboard data. Please try again later.</p>
        </div>

        <div id="leaderboard-table-container" class="overflow-x-auto lg:overflow-x-visible">
            <table class="table-auto w-full text-left border-collapse hidden" id="leaderboard-table">
                <thead>
                    <tr class="text-[#08B64F]">
                        <th class="px-4 py-2">Rank</th>
                        <th class="px-4 py-2">Name</th>
                        <th class="px-4 py-2">GitHub Username</th>
                        <th class="px-4 py-2">Points</th>
                        <th class="px-4 py-2">Pull Requests Merged</th>
                    </tr>
                </thead>
                <tbody id="leaderboard-body">
                    <!-- Data will be populated via JavaScript -->
                </tbody>
            </table>
        </div>

        <div id="pagination-controls" class="mt-6 flex justify-between">
            <button id="prev-page-btn" class="bg-[#08B64F] px-4 py-2 rounded-xl hover:bg-[#08B64F]/80 disabled:bg-gray-500 disabled:cursor-not-allowed" disabled>Previous</button>
            <button id="next-page-btn" class="bg-[#08B64F] px-4 py-2 rounded-xl hover:bg-[#08B64F]/80 disabled:bg-gray-500 disabled:cursor-not-allowed" disabled>Next</button>
        </div>
    </div>
</div>

<script>
    let currentPage = 1;
    const pageSize = 10;
    let leaderboardData = [];

    function toggleLoading(show) {
        document.getElementById('loading-state').classList.toggle('hidden', !show);
        document.getElementById('leaderboard-table').classList.toggle('hidden', show);
        document.getElementById('error-state').classList.add('hidden');
    }

    function showError() {
        document.getElementById('loading-state').classList.add('hidden');
        document.getElementById('leaderboard-table').classList.add('hidden');
        document.getElementById('error-state').classList.remove('hidden');
    }

    // Function to fetch leaderboard data
    async function fetchLeaderboard() {
        console.log('Fetching leaderboard data...');
        toggleLoading(true);

        try {
            const response = await fetch(`/api/leaderboard`);
            if (!response.ok) throw new Error('Failed to load data');
            const data = await response.json();
            leaderboardData = data.users;
            displayPage(currentPage);
            toggleLoading(false);
        } catch (error) {
            showError();
        }
    }

    // Function to display a specific page of leaderboard data
    function displayPage(page) {
        const start = (page - 1) * pageSize;
        const end = start + pageSize;
        const paginatedData = leaderboardData.slice(start, end);
        populateLeaderboard(paginatedData);

        // Handle pagination controls
        document.getElementById('prev-page-btn').disabled = page === 1;
        document.getElementById('next-page-btn').disabled = end >= leaderboardData.length;
    }

    // Function to populate leaderboard table
    function populateLeaderboard(data) {
        const leaderboardBody = document.getElementById('leaderboard-body');
        leaderboardBody.classList.add('px-4', 'py-2', 'mx-16');
        leaderboardBody.innerHTML = ''; // Clear previous rows

        data.forEach(user => {
            const row = document.createElement('tr');
            row.classList.add('bg-neutral-800', 'hover:bg-[#07B64F]/30', 'hover:scale-105', 'transition-all', 'cursor-pointer', 'ease-in-out', 'duration-300');
            row.innerHTML = `
                <td class="px-4 py-2">${user.rank}</td>
                <td class="px-4 py-2">${user.first_name}</td>
                <td class="px-4 py-2">
                    <a href="https://github.com/${user.github_username}" target="_blank" class="hover:underline">
                        ${user.github_username}
                    </a>
                </td>
                <td class="px-4 py-2">${user.points}</td>
                <td class="px-4 py-2">${user.total_merged_prs}</td>
            `;
            row.addEventListener('click', () => {
                window.location.href = `/profile/${user.id}`;
            });
            leaderboardBody.appendChild(row);
        });
    }

    // Pagination controls
    document.getElementById('prev-page-btn').addEventListener('click', () => {
        if (currentPage > 1) {
            currentPage--;
            displayPage(currentPage);
        }
    });

    document.getElementById('next-page-btn').addEventListener('click', () => {
        if ((currentPage * pageSize) < leaderboardData.length) {
            currentPage++;
            displayPage(currentPage);
        }
    });

    // Fetch leaderboard data when the page loads
    // const cachedData = sessionStorage.getItem('leaderboardData');
    // if (cachedData) {
        // leaderboardData = JSON.parse(cachedData);
        // displayPage(currentPage);
    // } else {
    fetchLeaderboard();
    // }
</script>


{% endblock %}
