{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load allauth %}
{% block content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-lg bg-neutral-900 p-8 rounded-lg shadow-lg text-white">
        <h1 class="text-3xl font-bold mb-4">Welcome, {{ user.first_name }}!</h1>
        <p class="mb-8">We're excited to have you on board. To get the most out of the platform, please connect your GitHub account.</p>

            {% element form method="post" action='/accounts/github/login/?process=connect' no_visible_fields=True %}
                {% slot actions %}
                    {% csrf_token %}
                        <button class="flex items-center justify-center bg-[#08B64F] text-white font-bold py-2 px-4 rounded-lg hover:bg-green-600 transition-colors duration-300 ease-in-out" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M12 0C5.373 0 0 5.373 0 12c0 5.303 3.438 9.8 8.205 11.387.6.111.82-.261.82-.579v-2.165c-3.338.727-4.033-1.416-4.033-1.416-.546-1.386-1.333-1.755-1.333-1.755-1.09-.745.083-.729.083-.729 1.205.084 1.84 1.235 1.84 1.235 1.07 1.834 2.809 1.304 3.495.997.107-.774.418-1.304.762-1.605-2.665-.305-5.467-1.335-5.467-5.931 0-1.31.469-2.381 1.235-3.221-.123-.304-.535-1.529.117-3.187 0 0 1.008-.322 3.302 1.23a11.49 11.49 0 013.004-.403c1.02.005 2.048.138 3.003.403 2.294-1.552 3.302-1.23 3.302-1.23.653 1.658.241 2.883.118 3.187.768.84 1.235 1.911 1.235 3.221 0 4.609-2.804 5.624-5.475 5.921.43.371.814 1.104.814 2.225v3.293c0 .32.218.694.825.577C20.565 21.796 24 17.3 24 12c0-6.627-5.373-12-12-12z"/>
                            </svg>
                            Connect GitHub    {% trans "Continue" as button_text %}
                        </button>
                {% endslot %}
            {% endelement %}


    </div>
</div>
{% endblock %}
