<!-- templates/profile.html -->

{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
<div class="container mx-auto p-6">
    <!-- User Information -->
    <div class="flex items-center space-x-6 mb-8">
        <img src="https://avatars.githubusercontent.com/{{ user.get_profile_username }}" alt="{{ user.username }}'s avatar" class="w-24 h-24 rounded-full border-4 border-primary">
        <div>
            <h2 class="text-3xl font-bold text-primary">{{ user.first_name }} ({{ user.username }})</h2>
            <p class="text-gray-300">GitHub: <a href="https://github.com/{{ user.get_profile_username }}" class="text-primary hover:underline" target="_blank">{{ user.get_profile_username }}</a></p>
            <!-- last updated at -->
             {% if user.last_updated %}
            <p class="text-gray-300">Last updated: {{ user.last_updated|date:"M d, Y H:i" }}</p>
            {% endif %}
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        <div class="card bg-gray-900 shadow-lg">
            <div class="card-body">
                <h3 class="text-xl font-semibold text-primary">Total points</h3>
                <p class="text-3xl">{{ user.points }}</p>
            </div>
        </div>
        <div class="card bg-gray-900 shadow-lg">
            <div class="card-body">
                <h3 class="text-xl font-semibold text-primary">Pull Requests</h3>
                <p class="text-3xl">{{ total_prs }} ({{ total_merged_prs }} Merged)</p>
            </div>
        </div>
        <!-- <div class="card bg-gray-900 shadow-lg">
            <div class="card-body">
                <h3 class="text-xl font-semibold text-primary">Issues</h3>
                <p class="text-3xl">{{ total_issues }} ({{ total_closed_issues }} Closed)</p>
            </div>
        </div> -->
    </div>

    <!-- Detailed Contributions -->
    <div class="space-y-8">
        <!-- Pull Requests Section -->
        <div>
            <h3 class="text-2xl font-bold text-primary mb-4">Pull Requests</h3>
            {% if recent_prs %}
            <div class="overflow-x-auto">
                <table class="table w-full bg-gray-800">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Repository</th>
                            <th>Points</th>
                            <th>State</th>
                            <th>Created At</th>
                            <th>Actions</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for pr in recent_prs %}
                        <tr>
                            <td>{{ pr.title }}</td>
                            {% if pr.repository %}
                            <td>{{ pr.repository.name }}</td>
                            {% else %}
                            <td class="pr_repo_url">{{ pr.url }}</td>
                            {% endif %}
                            <td>{{ pr.points }}</td>
                            <td>
                                {% if pr.state == 'merged' %}
                                    <span class="badge badge-success">Merged</span>
                                {% elif pr.state == 'closed' %}
                                    <span class="badge badge-error">Closed</span>
                                {% else %}
                                    <span class="badge badge-warning">{{ pr.state }}</span>
                                {% endif %}
                            </td>
                            <td>{{ pr.created_at|date:"M d, Y H:i" }}</td>
                            <td>
                                <a href="{{ pr.url }}" target="_blank" class="btn btn-sm btn-primary">View PR</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <p class="text-gray-300">No pull requests found.</p>
            {% endif %}
        </div>

    </div>
</div>
<script>
    const prRepoUrls = document.getElementsByClassName('pr_repo_url');
    for (let i = 0; i < prRepoUrls.length; i++) {
        const url = prRepoUrls[i].innerText;
        prRepoUrls[i].innerHTML = url.replace('https://github.com/', '').split('/pull')[0];

    }
</script>
{% endblock %}
